{% extends "layout/base.html" %}
{% block title %}Khu Khách Hàng{% endblock %}

{% block content %}
<div class="mt-4 p-5 bg-light border rounded">
    <h2>
        Xin chào,
        {{ session.get('user_name')
        or (session.get('user_email') and session.get('user_email').split('@')[0])
        or 'bạn' }}
    </h2>
    <p>Bạn đang đăng nhập với vai trò <strong>Customer</strong>.</p>
    <p>Tại đây bạn có thể xem món ăn, đặt hàng, theo dõi đơn hàng của mình.</p>
</div>

<div class="container mt-4">
  <h3>Danh sách 50 nhà hàng</h3>
  {% if restaurants %}
    <div class="row">
      {% for res in restaurants %}
        <div class="col-md-4 mb-3">
         <div class="card h-100">
            {% if res.image %}
            <img src="{{ res.image }}" class="card-img-top" alt="{{ res.name }}" style="height: 200px; object-fit: cover;">
            {% else %}
            <img src="https://via.placeholder.com/400x200?text=No+Image" class="card-img-top" alt="No image">
            {% endif %}
            <div class="card-body">
              <h5 class="card-title mt-2">{{ res.name }}</h5>
              <p class="card-text">{{ res.address }}</p>
              <a href="/restaurant/{{ res.restaurant_id }}" class="btn btn-primary">Xem chi tiết</a>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
  {% else %}
    <p>Chưa có nhà hàng nào trong hệ thống.</p>
  {% endif %}
</div>
{% endblock %}
